.shipment-section {
  margin-top: 96px;
  text-align: center;
}

.br-shipment {
  text-align: center;
}

.shipment__header {
  font-size: 16px;
  color: var(--secondary-color);
}

.display-xl {
  font-size: 40px;
  line-height: 56px;
  letter-spacing: 0;
  font-weight: var(--bold-font);
}

.progress-bars {
  display: flex;
  max-width: 634px;
  margin: 1.5rem auto;

  width: 100%;
  grid-gap: 4px;
  gap: 4px;
}

.bar {
  height: 6px;
  border-radius: 0 64px 64px 0;
}

.bar-active {
  background-color: #0098a5;
}

.bar-inactive {
  background-color: #d9f4f8;
}

hr {
  background-color: #d9f4f8;
  width: 100%;
  border: unset;
}

.shipment-error {
  background-color: red;
}

.shipment-notfound {
  display: flex;
  max-width: 609px;
  align-items: baseline;
  grid-gap: 12px;
  gap: 12px;
  border: 1px solid #fecdca;
  border-radius: 4px;
  padding: 16px;
  background-color: #fef3f2;
  margin: 2rem auto;
  font-size: 15px;
}
