.shipment-section {
  text-align: center;
  max-width: 856px;
  margin: 0 auto;
  margin-top: 96px;
}

.br-shipment {
  text-align: center;
}

.shipment__header {
  font-size: 16px;
  color: var(--secondary-color);
}

.display-xl {
  font-size: 40px;
  line-height: 56px;
  letter-spacing: 0;
  font-weight: var(--bold-font);
}

.progress-bars {
  display: flex;
  max-width: 634px;
  margin: 1.5rem auto;

  width: 100%;
  grid-gap: 4px;
  gap: 4px;
}

.bar {
  height: 6px;
  border-radius: 0 64px 64px 0;
}

.bar-active {
  background-color: #0098a5;
}

.bar-inactive {
  background-color: #d9f4f8;
}

hr {
  background-color: #d9f4f8;
  width: 100%;
  border: unset;
}

.shipment-error {
  background-color: red;
}

.shipment-notfound {
  display: flex;
  max-width: 609px;
  align-items: baseline;
  grid-gap: 12px;
  gap: 12px;
  border: 1px solid #fecdca;
  border-radius: 4px;
  padding: 16px;
  background-color: #fef3f2;
  margin: 2rem auto;
  font-size: 15px;
}

.tracking__details {
  color: var(--secondary-color);
}

.shipment--timeline {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  .timeline__title {
    color: var(--secondary-color);
    font-size: 14px;
    margin-bottom: 32px;
  }
  .timeline__logs {
    ul {
      list-style: none;
    }
  }
  .log__heading {
    text-align: right;
    margin-right: 16px;
    font-weight: var(--semibold-font);
    padding-top: 5px;
  }

  .log__body {
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 16px 8px;
    font-size: 14px;
    border: 1px solid #e4e7ec;
    border-radius: 8px;
    margin: 0 1rem;
  }
}

.tail {
  position: relative;
  height: calc(100% - 20px);
  border-right: 2px solid #f0f0f0;
  right: 7px;
}

.head {
  width: 16px;
  height: 16px;
  background-color: #d0d5dd;
  border: none;
  margin-top: 10px;
  border-radius: 100px;
}

.log-card {
  display: flex;

  justify-content: center;
}

.log-content {
  position: relative;
}

.log__date {
  color: var(--secondary-color);
}

.transit-event {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}
