.main-container {
  margin: 0 auto;
  padding-top: 46px;
  h4 {
    font-weight: var(--semibold-font);
    line-height: 28px;
    font-size: 20px;
    text-align: center;
  }
}

.search-container{
    
}
