@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&display=swap');

:root {
  --regular-font: 400;
  --semibold-font: 600;
  --medium-font: 500;
  --bold-font: 700;
  --primary-color: #e30613;
  --text-color: #111619;
  --secondary-color: #667085;
  --website-width: 1400px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Cairo', sans-serif;
  direction: rtl;
}

.container {
  max-width: var(--website-width);
  margin: 0 auto;
}
